/*
Proposed Color Palette:
    Dark:         #383838
    Dark Blue:    #547980
    Teal:         #45ADA8
    Mint Green:   #9DE0AD
    Light Green:  #E5FCC2
*/

@font-face {
    font-family: 'flagshipslab';
    src: url('./FlagshipSlabRegular.otf');
    font-weight: normal;
    font-style: normal;
}
li{
    font-family: sans-serif;
}
ol{
    list-style: none;
}

/* COLORS */
/* LIGHT */
body.light{
    background-color: #E5FCC2;
}

h1.light, p.light, li.light{
    color: #383838;
}

a.light{
    color: #45ADA8;
}
a.light:visited{
    color: #547980;
}
.movie-sub.light{
    background-color: #5cce5c;
}
.movie-sub.light:active{
    background-color: #9DE0AD;
}
.nr.light{
    color: #383838;
}
.name.light{
    color: #383838;
}
.artist.light{
    color: #383838;
}

/* DARK */
body.dark{
    background-color: #383838;
}

h1.dark{
    color: #9DE0AD;
}
p.dark, li.dark{
    color: #E5FCC2;
}
a.dark{
    color: #9DE0AD;
}
a.dark:visited{
    color: #E5FCC2;
}
.movie-sub.dark{
    background-color: #45ADA8;
}
.movie-sub.dark:active{
    background-color: #547980;
}
.nr.dark{
    color: #E5FCC2;
}
.name.dark{
    color: #9DE0AD;
}
.artist.dark{
    color: #E5FCC2;
}

/* LAYOUT */

.site-start {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}
.site-results {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    visibility: hidden;
}
.site-similar {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    visibility: hidden;
}

.s1{
  visibility: hidden;
}

.site-header{
    grid-row: 1;
    grid-column: 2/4;
    font-family: flagshipslab;
    font-size: 16px;
    align-self: auto;
}

.sidebar {
    grid-column: 5;
    grid-row: 1;
    align-self: auto;
}
.results-list{
    grid-row: 3;
    grid-column: 2/5;
}
.similars-list{
    grid-row: 3;
    grid-column: 2/5;
}
.similars-list:nth-child(odd){
  background-color: #BDF69B;
}
.results-list:nth-child(odd){
  background-color: #BDF69B;
}
.result{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2em;
    margin-bottom: 1em;
}
.similar{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2em;
}
.intro .query-result .nr .artist .name{
    font-family: sans-serif;
}
.intro {
    grid-row: 2;
    grid-column: 2/5;
}
.query-result {
    grid-row: 2;
    grid-column: 2/5;
}
.nr{
    grid-column: 1;
}
.name{
    grid-column: 2;
}
.artist{
    grid-column: 3;
}

.chromeGridFix {
    grid-row: 3;
    grid-column: 2/4;
    align-self: start;
}

.movie-input {
    width: 100%;
    min-height: 2em;
}

.movie-input:focus {
    box-shadow: 1px 1
    px 3px #888888;
}

.movie-sub {
    grid-row: 3;
    grid-column: 4;
    align-self: start;
    min-height: 2.7em;
    border-radius: 5px;
    border-style: none;
    box-shadow: 1px 1px 5px #888888
}
footer{
    grid-row: 1;
}
.modeButton {
    align-self: start;
    min-height: 2.7em;
    border-radius: 5px;
    border-style: none;
}
.modeButton.tdm{
    background-color: #383838;
    color: #E5FCC2;
    border: 1px solid #E5FCC2;
}
.modeButton.tlm{
    background-color: #E5FCC2;
    color: #383838;
    border: 1px solid #383838;
}
.movie-sub:focus{
    outline: none;
}

.movie-sub:active{
    box-shadow: 0px 0px 2px #888888
}

a{
  text-decoration: none;
}

@media all and (min-width: 470px) {
    .site {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    .sidebar {
        grid-column: 4;
    }
    .intro {
        grid-row: 2;
    }
    .chromeGridFix {
        grid-row: 3;
    }
    .movie-sub {
        grid-row: 3;
    }
    .query-result {
        grid-row: 2;
        grid-column: 2/5;
    }
    .nr{
        grid-column: 1;
    }
    .name{
        grid-column: 2;
    }
    .artist{
        grid-column: 3;
    }
}
@media all and (min-width: 700px) {
    body{
        display: grid;
        grid-template-columns: 1fr auto 1fr;
    }
    .site-start{
        grid-column: 2;
        max-width: 684px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
  .site-results{
        grid-column: 2;
        max-width: 684px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    .sidebar {
        grid-column: 4;
    }
}
